# dev/deploy
flit
pylint
mypy==0.790
pytest
pytest-coverage
pytest-timeout
pytest-xdist

# from pyproject.toml
cloudsync>=3.0.0a2

# gdrive provider
google-oauth
google-auth-httplib2
google-api-python-client

codecov
