# dev/deploy
flit==2.3.0
pylint==2.5.3
mypy==0.782
pytest==5.4.3
pytest-coverage==0.0.1
pytest-timeout
pytest-xdist

# from pyproject.toml
cloudsync>=v1.3.22a2

# gdrive provider
google-oauth
google-auth-httplib2
google-api-python-client

codecov
