# dev/deploy
flit==2.3.0
pylint==2.5.3
mypy==0.782
pytest
pytest-coverage
pytest-timeout
pytest-xdist

# from pyproject.toml
cloudsync>=v1.3.22a2

# gdrive provider
google-oauth
google-auth-httplib2
google-api-python-client

codecov
